# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
.python-version
*.egg-info/
dist/
build/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Jupyter
.ipynb_checkpoints/

# Project specific
data/
inputs/
logs/
outputs/
*.db
*.sqlite3

# Environment variables
.env
.env.local

# Large files
*.zip
*.tar
*.gz
*.rar

*.wav
*1.py

*.yaml


vector-0.54.0-x86_64-pc-windows-msvc/

vmutils-windows-amd64-v1.137.0/

vector-data/